@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
	padding: 50px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {
	&__list {
		display: flex;
	}
	&__list-item + .menu__list-item {
		padding-left: 35px;
	}
	&__list-link {
		color: $default;
		@extend %rubik-500;
	}
}

.user-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__item {
		padding: 15px;
	}
	&__item:first-child {
		margin-right: 20px;
		background-color: #edf1f4;
		border-radius: 50%;
	}
	&__item:last-child {
		margin-left: 20px;
		background-color: #a3bbc8;
		border-radius: 50%;
	}
	&__wrapper {
		background-color: $accent;
		width: 180px;
		display: flex;
		justify-content: space-around;
		border-radius: 30px;
		position: relative;
	}
	&__wrapper::after {
		content: "";
		position: absolute;
		width: 1px;
		height: 35px;
		top: 50%;
		transform: translateY(-50%);
		background-color: #fde7d3;
	}
	&__link--accent {
		position: relative;
	}
	&__num {
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #fff;
		top: -8px;
		right: -8px;
		font-size: 10px;
		line-height: 15px;
		color: $default;
		text-align: center;
		@extend %dmsans-400;
	}
}

.top-slider {
	&__inner {
		background-color: $accent;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 220px 0 200px 0;
	}
	&__content {
		max-width: 420px;
		margin-right: 100px;
	}
	&__title {
		font-size: 72px;
		line-height: 76px;
		@extend %rubik-500;
		color: $title;
		margin-bottom: 35px;
		text-transform: uppercase;
	}
	&__text {
		font-size: 18px;
		line-height: 27px;
		@extend %rubik-400;
		color: $default;
		margin-bottom: 35px;
	}
	&__icon {
		display: inline;
		margin-left: 55px;
	}
	&__btn {
		background-color: $button;
		color: #fff;
		padding: 20px 100px 20px 25px;
		max-width: 200px;
		&::after {
			background-image: url("../images/icons/btn-arrow.svg");
		}
	}
	&__img-wrapper {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			background-image: url("../images/slider/slider-bg.png");
			background-repeat: no-repeat;
			background-position: center center;
			min-width: 609px;
			min-height: 634px;
			top: -185px;
			right: -110px;
			z-index: -1;
		}
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		padding-bottom: 45px;
		li {
			margin: 0 6px;
			button {
				border: none;
				padding: 0;
				font-size: 10px;
				background-color: #fde3cc;
				color: #667983;
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
			&.slick-active {
				button {
					background-color: #fff;
					color: $title;
				}
			}
		}
	}
}

.info {
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $accent-bg;
	}
	&__content-item {
		width: 570px;
		padding: 40px 139px;
		display: flex;
		align-items: center;
	}
	&__content-item + .info__content-item {
		border-left: 1px solid #e8e4df;
	}
	&__content-inner {
		margin-left: 25px;
		max-width: 200px;
	}
	&__content-inner--short {
		max-width: 215px;
	}
	&__content-title {
		font-size: 18px;
		line-height: 40px;
		@extend %dmsans-700;
		color: #414141;
	}
	&__content-text {
		font-size: 16px;
		line-height: 30px;
		@extend %dmsans-400;
		color: #585858;
	}
}

.products {
	padding-top: 75px;
	&-top {
		margin-bottom: 75px;
		&__content {
			display: grid;
			grid-template-columns: repeat(4, 270px);
			grid-template-rows: repeat(2, 380px);
			row-gap: 35px;
			column-gap: 30px;
		}
		&__item {
			box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
			border-radius: 10px;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			transition: opacity 0.3s;
		}
		&__item-inner {
			margin-bottom: 48px;
			position: relative;
		}
		&__item-buttons {
			display: flex;
			align-items: center;
			position: absolute;
			text-align: center;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
		}
		&__item-btn {
			width: 45px;
			height: 45px;
			background-color: #fff;
			box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
			border-radius: 50%;
			padding-top: 13px;
			opacity: 0;
			transition: all 0.5s;
			&:hover {
				background-color: $button;
				path {
					fill: #fff;
				}
			}
		}

		&__item-btn + .products-top__item-btn {
			margin-left: 15px;
		}
		&__item:hover .products-top__item-btn {
			opacity: 1;
		}
		&__item-name {
			font-size: 16px;
			line-height: 40px;
			@extend %dmsans-700;
			color: $title;
		}
		&__item-price {
			font-size: 16px;
			line-height: 24px;
			color: $button;
			@extend %dmsans-700;
			margin-bottom: 35px;
		}
	}
	&-bottom {
		&__content {
			display: flex;
			justify-content: space-between;
		}
		&__item {
			background-color: #feefe2;
			padding: 100px 130px 100px 380px;
			position: relative;
			margin-top: 100px;
		}
		&__item--pos {
			padding-top: 85px;
			padding-bottom: 85px;
		}
		&__item-img {
			position: absolute;
			top: -100px;
			left: 135px;
		}
		&__item-inner {
			max-width: 340px;
			margin-left: 10px;
		}
		&__item-title {
			color: $default;
			font-size: 26px;
			line-height: 32px;
			@extend %dmsans-700;
			margin-bottom: 10px;
		}
		&__item-text {
			color: &title;
			font-size: 16px;
			line-height: 30px;
			@extend %dmsans-400;
			margin-bottom: 25px;
		}
		&__item-link {
			background-color: transparent;
			border: 1px solid $default;
			border-radius: 5px;
			color: $default;
			padding: 20px 80px 20px 20px;
			max-width: 180px;
			&::after {
				background-image: url("../images/icons/btn-arrow-blue.svg");
			}
		}
	}
}

.design {
	padding-top: 95px;
	&__content {
		display: grid;
		grid-template-columns: repeat(3, 370px);
		grid-template-rows: repeat(2, 246px);
		row-gap: 35px;
		column-gap: 30px;
	}
	&__item {
		position: relative;
		transition: all 0.5s;
		&:hover {
			transform: scale(1.1);
		}
	}
	&__item-inner {
		max-width: 170px;
		position: absolute;
		@extend %dmsans-700;
		top: 40px;
		left: 35px;
	}
	&__item-title {
		font-size: 20px;
		line-height: 26px;
		color: $title-dark;
		margin-bottom: 15px;
	}
	&__item-subtitle {
		font-size: 16px;
		color: $button;
	}
	&-video {
		padding: 120px 0;
		&__wrapper {
			position: relative;
		}
		&__link {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.blog {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 45px;
		padding-bottom: 250px;
	}
	&__title {
		text-align-last: left;
		padding-bottom: 0;
	}
	&__more-link {
		font-size: 16px;
		line-height: 24px;
		color: #262626;
		@extend %dmsans-700;
		padding-right: 25px;
		position: relative;
		&::after {
			content: "";
			background-image: url(../images/icons/view-all.svg);
			background-repeat: no-repeat;
			width: 7px;
			height: 12px;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}
	&__wrapper--background {
		background-color: $accent-bg;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		background-color: #fff;
		max-width: 370px;
		border-radius: 5px;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		margin-top: -250px;
		position: relative;
		&-img {
			object-fit: cover;
			max-height: 250px;
		}
		&-topic {
			max-width: 105px;
			font-size: 14px;
			line-height: 20px;
			color: #fff;
			@extend %poppins-700;
			padding: 5px 30px;
			border-radius: 25px;
			background-color: $button;
			position: absolute;
			top: 235px;
			left: 27px;
		}
		&-inner {
			padding: 35px 27px 25px 27px;
		}
		&-lead {
			min-height: 86px;
			padding-bottom: 13px;
			border-bottom: 1px solid #e0e0e0;
		}
		&-text {
			font-size: 18px;
			line-height: 24px;
			color: #262626;
			@extend %dmsans-500;
		}
		&-info {
			display: flex;
			padding-top: 20px;
		}
		&-date,
		&-author {
			font-size: 12px;
			line-height: 16px;
			color: #222933;
			@extend %rubik-400;
		}
		&-author {
			padding-left: 30px;
		}
	}
}

.partners {
	&__inner {
		padding: 95px 0 90px 0;
		&-list {
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
	}
}

.footer-top {
	display: flex;
	// justify-content: space-between;
	padding: 80px 0;
	border-bottom: 1px solid #dae4e9;
	&__logo {
		margin-bottom: 30px;
		display: block;
	}
	&__item {
		&:first-child {
			max-width: 195px;
			margin-right: 100px;
		}
		&:last-child {
			max-width: 270px;
		}
		&-nav {
			max-width: 125px;
			margin-right: 200px;
		}
	}
	&__list-item {
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 22px;
		color: #7b7b7b;
	}
	&__link,
	&__text {
		font-size: 14px;
		line-height: 22px;
		color: #7b7b7b;
		@extend %rubik-400;
	}
	&__title {
		font-size: 16px;
		line-height: 22px;
		color: #1f2044;
		text-transform: uppercase;
		@extend %dmsans-700;
		margin: 10px 0 25px 0;
	}
	&__text {
		margin-bottom: 35px;
	}
	&__form {
		@extend %dmsans-400;
		display: flex;
		&-email {
			border: none;
			font-size: 12px;
			line-height: 18px;
			color: #234969;
			max-width: 170px;
			padding: 15px;
			background-color: $accent-bg;
		}
		&-btn {
			border: none;
			background-color: $button;
			font-size: 14px;
			line-height: 21px;
			color: #fff;
			padding: 14px 15px;
			max-width: 100px;
		}
	}
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
	&__copy,
	&__link {
		font-size: 14px;
		line-height: 21px;
		color: #7b7b7b;
		@extend %rubik-400;
	}
	&__link {
		position: relative;
		margin-right: 15px;
	}
	&__link + .footer-bottom__link {
		margin-left: 15px;
	}
	&__link:last-child {
		margin-right: 0;
	}
	&__link--line::after {
		content: "";
		position: absolute;
		width: 1px;
		height: 18px;
		background-color: #7b7b7b;
		top: 0;
		right: -19px;
	}
}

@import "media";
