@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
	padding: 50px 0;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {
	&__list {
		display: flex;
	}
	&__list-item + .menu__list-item {
		padding-left: 35px;
	}
	&__list-link {
		color: $default;
		@extend %rubik-500;
	}
}

.user-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__item {
		padding: 15px;
	}
	&__item:first-child {
		margin-right: 20px;
		background-color: #edf1f4;
		border-radius: 50%;
	}
	&__item:last-child {
		margin-left: 20px;
		background-color: #a3bbc8;
		border-radius: 50%;
	}
	&__wrapper {
		background-color: $accent;
		width: 180px;
		display: flex;
		justify-content: space-around;
		border-radius: 30px;
		position: relative;
	}
	&__wrapper::after {
		content: "";
		position: absolute;
		width: 1px;
		height: 35px;
		top: 50%;
		transform: translateY(-50%);
		background-color: #fde7d3;
	}
	&__link--accent {
		position: relative;
	}
	&__num {
		position: absolute;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #fff;
		top: -8px;
		right: -8px;
		font-size: 10px;
		line-height: 15px;
		color: $default;
		text-align: center;
		@extend %dmsans-400;
	}
}

.top-slider {
	&__inner {
		background-color: $accent;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 220px 0 200px 0;
	}
	&__content {
		max-width: 420px;
		margin-right: 100px;
	}
	&__title {
		font-size: 72px;
		line-height: 76px;
		@extend %rubik-500;
		color: $title;
		margin-bottom: 35px;
		text-transform: uppercase;
	}
	&__text {
		font-size: 18px;
		line-height: 27px;
		@extend %rubik-400;
		color: $default;
		margin-bottom: 35px;
	}
	&__icon {
		display: inline;
		margin-left: 55px;
	}
	&__btn {
		background-color: $button;
		color: #fff;
		padding: 20px 100px 20px 25px;
		max-width: 200px;
		&::after {
			background-image: url("../images/icons/btn-arrow.svg");
		}
	}
	&__img-wrapper {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			background-image: url("../images/slider/slider-bg.png");
			background-repeat: no-repeat;
			background-position: center center;
			min-width: 609px;
			min-height: 634px;
			top: -185px;
			right: -110px;
			z-index: -1;
		}
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		padding-bottom: 45px;
		li {
			margin: 0 6px;
			button {
				border: none;
				padding: 0;
				font-size: 10px;
				background-color: #fde3cc;
				color: #667983;
				width: 30px;
				height: 30px;
				border-radius: 50%;
			}
			&.slick-active {
				button {
					background-color: #fff;
					color: $title;
				}
			}
		}
	}
}

.info {
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $accent-bg;
	}
	&__content-item {
		width: 570px;
		padding: 40px 139px;
		display: flex;
		align-items: center;
		position: relative;
	}
	&__content-item + .info__content-item {
		&::before {
			content: "";
			position: absolute;
			width: 1px;
			height: 180px;
			background-color: #e8e4df;
			left: 0;
		}
	}
	&__content-inner {
		margin-left: 25px;
		max-width: 200px;
	}
	&__content-inner--short {
		max-width: 215px;
	}
	&__content-title {
		font-size: 18px;
		line-height: 40px;
		@extend %dmsans-700;
		color: #414141;
	}
	&__content-text {
		font-size: 16px;
		line-height: 30px;
		@extend %dmsans-400;
		color: #585858;
	}
}

.products {
	padding-top: 75px;
	&-top {
		margin-bottom: 75px;
		&__content {
			display: grid;
			grid-template-columns: repeat(4, 270px);
			grid-template-rows: repeat(2, 380px);
			row-gap: 35px;
			column-gap: 30px;
		}
		&__item {
			max-width: 270px;
			height: 380px;
			box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
			border-radius: 10px;
			background-color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			transition: opacity 0.3s;
		}
		&__item-inner {
			margin-bottom: 48px;
			position: relative;
		}
		&__item-buttons {
			display: flex;
			align-items: center;
			position: absolute;
			text-align: center;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
		}
		&__item-btn {
			width: 45px;
			height: 45px;
			background-color: #fff;
			box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
			border-radius: 50%;
			padding-top: 13px;
			opacity: 0;
			transition: all 0.5s;
			&:hover {
				background-color: $button;
				path {
					fill: #fff;
				}
			}
		}

		&__item-btn + .products-top__item-btn {
			margin-left: 15px;
		}
		&__item:hover .products-top__item-btn {
			opacity: 1;
		}
		&__item-name {
			font-size: 16px;
			line-height: 40px;
			@extend %dmsans-700;
			color: $title;
		}
		&__item-price {
			font-size: 16px;
			line-height: 24px;
			color: $button;
			@extend %dmsans-700;
			margin-bottom: 35px;
		}
	}
	&-bottom {
		&__content {
			display: flex;
			justify-content: space-between;
		}
		&__item {
			background-color: #feefe2;
			padding: 100px 130px 100px 380px;
			position: relative;
			margin-top: 100px;
		}
		&__item--pos {
			padding-top: 85px;
			padding-bottom: 85px;
		}
		&__item-img {
			position: absolute;
			top: -100px;
			left: 135px;
		}
		&__item-inner {
			max-width: 340px;
			margin-left: 10px;
		}
		&__item-title {
			color: $default;
			font-size: 26px;
			line-height: 32px;
			@extend %dmsans-700;
			margin-bottom: 10px;
		}
		&__item-text {
			color: &title;
			font-size: 16px;
			line-height: 30px;
			@extend %dmsans-400;
			margin-bottom: 25px;
		}
	}
}

.design {
	padding-top: 95px;
	&__content {
		display: grid;
		grid-template-columns: repeat(3, 370px);
		grid-template-rows: repeat(2, 246px);
		row-gap: 35px;
		column-gap: 30px;
	}
	&__item {
		position: relative;
		transition: all 0.5s;
		&:hover {
			transform: scale(1.1);
		}
	}
	&__item-inner {
		max-width: 170px;
		position: absolute;
		@extend %dmsans-700;
		top: 40px;
		left: 35px;
	}
	&__item-title {
		font-size: 20px;
		line-height: 26px;
		color: $title-dark;
		margin-bottom: 15px;
	}
	&__item-subtitle {
		font-size: 16px;
		color: $button;
	}
	&-video {
		padding: 120px 0;
		&__wrapper {
			position: relative;
		}
		&__link {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.blog {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 45px;
		padding-bottom: 250px;
	}
	&__title {
		text-align-last: left;
		padding-bottom: 0;
	}
	&__more-link {
		font-size: 16px;
		line-height: 24px;
		color: #262626;
		@extend %dmsans-700;
		padding-right: 25px;
		position: relative;
		&::after {
			content: "";
			background-image: url(../images/icons/view-all.svg);
			background-repeat: no-repeat;
			width: 7px;
			height: 12px;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}
	&__wrapper--background {
		background-color: $accent-bg;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		background-color: #fff;
		max-width: 370px;
		border-radius: 5px;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		margin-top: -250px;
		position: relative;
		&-img {
			object-fit: cover;
			max-height: 250px;
		}
		&-topic {
			max-width: 105px;
			font-size: 14px;
			line-height: 20px;
			color: #fff;
			@extend %poppins-700;
			padding: 5px 30px;
			border-radius: 25px;
			background-color: $button;
			position: absolute;
			top: 235px;
			left: 27px;
		}
		&-inner {
			padding: 35px 27px 25px 27px;
		}
		&-lead {
			min-height: 86px;
			padding-bottom: 13px;
			border-bottom: 1px solid #e0e0e0;
		}
		&-text {
			font-size: 18px;
			line-height: 24px;
			color: #262626;
			@extend %dmsans-500;
		}
		&-info {
			display: flex;
			padding-top: 20px;
		}
		&-date,
		&-author {
			font-size: 12px;
			line-height: 16px;
			color: #222933;
			@extend %rubik-400;
			padding-left: 20px;
			position: relative;
			&::before {
				content: "";
				background-size: cover;
				width: 12px;
				height: 13px;
				position: absolute;
				left: 0;
			}
		}
		&-date {
			&::before {
				background-image: url("../images/icons/calendar.svg");
			}
		}
		&-author {
			margin-left: 30px;
			&::before {
				background-image: url("../images/icons/user.svg");
			}
		}
	}
}

.partners {
	&__inner {
		padding: 95px 0 90px 0;
		&-list {
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
	}
}

.terms {
	padding: 115px 0;
	&__title {
		font-size: 24px;
		line-height: 40px;
		color: $title;
		@extend %rubik-500;
		margin-bottom: 27px;
	}
	&__types,
	&__colecting {
		margin-bottom: 70px;
	}
	&__types {
		&-list {
			list-style: decimal-leading-zero;
			.terms__text {
				margin-left: 30px;
				margin-bottom: 30px;
			}
		}
	}
	&__text {
		font-size: 16px;
		line-height: 30px;
		color: $title;
		@extend %rubik-400;
	}
}

.login {
	padding: 115px 0;
}
.form {
	max-width: 470px;
	margin: 0 auto;
	&__label,
	&__link {
		display: block;
		font-size: 14px;
		line-height: 20px;
		color: $default;
		@extend %rubik-400;
	}
	&__link {
		display: inline-block;
	}
	&__input {
		display: block;
		width: 100%;
		height: 60px;
		border: 1px solid #f6f6f6;
		background-color: #fff;
		padding: 10px;
		margin: 15px 0 20px;
	}
	&__btn,
	&__register-btn {
		width: 100%;
		font-size: 18px;
		line-height: 20px;
		@extend %rubik-500;
		padding: 20px 0;
	}
	&__btn {
		border: none;
		background-color: $button;
		color: #fffefe;
		cursor: pointer;
	}
	&__label--checkbox {
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
		text-align: justify;
		border-bottom: 1px solid #f6f6f6;
	}
	&__register {
		margin-top: 30px;
		text-align: center;
		&-btn {
			display: block;
			color: $title;
			margin-top: 20px;
			border: 2px solid $button;
			text-align: center;
		}
	}
}

.experience {
	padding: 120px 0;
	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 120px;
	}
	&-top__img {
		margin-right: 45px;
	}
	&-top__inner {
		max-width: 550px;
	}
	&-top__head {
		font-size: 140px;
		// line-height: 150px;
		color: $button;
		@extend %rubik-700;
		margin-bottom: 50px;
		&-text {
			font-size: 16px;
			line-height: 30px;
			color: $title;
			@extend %rubik-400;
			max-width: 90px;
			display: inline-block;
		}
	}
	&-top__title {
		font-size: 36px;
		line-height: 40px;
		color: $title;
		@extend %dmsans-700;
		margin-bottom: 45px;
	}
	&-top__text {
		font-size: 16px;
		line-height: 30px;
		color: $title;
		@extend %rubik-400;
		padding-bottom: 60px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 500px;
			height: 2px;
			background-color: #ebeef3;
			bottom: 0;
			left: 0;
		}
	}
	&-top__info {
		display: flex;
	}
	&-top__item {
		font-size: 36px;
		line-height: 38px;
		color: $title;
		@extend %dmsans-700;
		padding: 0 60px;
		margin-top: 40px;
		position: relative;
		text-align: center;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		&--projects::before {
			background-image: url("../images/icons/projects.svg");
			width: 37px;
			height: 37px;
		}
		&--revenue::before {
			background-image: url("../images/icons/revenue.svg");
			width: 43px;
			height: 40px;
		}
		&--awards::before {
			background-image: url("../images/icons/awards.svg");
			width: 42px;
			height: 40px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			height: 80px;
			background-color: #e6eaf0;
			top: -10px;
			right: 25px;
		}
		&:last-child {
			padding-right: 0;
			&::after {
				display: none;
			}
		}
		&-text {
			font-size: 16px;
			line-height: 17px;
			color: #4c4c4c;
			font-family: inherit;
		}
	}

	&-bottom {
		background-color: $accent;
		padding: 80px 0;
	}
	&-bottom__inner {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&-bottom__item {
		text-align: center;
		color: $title;
		@extend %dmsans-700;
	}
	&-bottom__img {
		margin: 0 auto 25px;
	}
	&-bottom__num {
		font-size: 36px;
		margin-bottom: 25px;
	}
	&-bottom__text {
		font-size: 18px;
		line-height: 32px;
	}
}

.team {
	padding-bottom: 175px;
	&__wrapper {
		display: flex;
	}
	&__info {
		max-width: 310px;
		margin-right: 100px;
	}
	&__title {
		text-align-last: left;
		padding-bottom: 30px;
	}
	&__text {
		font-size: 16px;
		line-height: 30px;
		color: $title;
		@extend %rubik-400;
		margin-bottom: 35px;
	}
	&__btn {
		background-color: $button;
		color: #fff;
		@extend %poppins-600;
		padding: 15px 60px 15px 15px;
		max-width: 175px;
		border-radius: 5px;
		&::after {
			background-image: url("../images/icons/btn-arrow.svg");
		}
	}
	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		column-gap: 30px;
		row-gap: 100px;
	}
	&__item {
		position: relative;
		&-img {
			max-width: 370px;
			max-height: 320px;
		}
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 325px;
			padding: 27px 15px 27px 25px;
			background-color: #fff;
			box-shadow: 0px 6px 57px 0px hsla(0, 0%, 15%, 0.05);
			position: absolute;
			left: -1px;
			bottom: -60px;
		}
		&-box {
			min-width: 150px;
			margin-right: 30px;
		}
		&-name {
			font-size: 22px;
			line-height: 26px;
			color: $default;
			@extend %dmsans-700;
			// margin-bottom: 15px;
		}
		&-position {
			font-size: 16px;
			line-height: 30px;
			color: #565872;
			@extend %rubik-400;
		}
		&-social {
			display: flex;
			// margin-left: 45px;
		}
		&-link {
			position: relative;
			padding: 0 15px;
			margin-left: 5px;
			z-index: 1;
			&::after {
				content: "";
				background-image: url("../images/icons/icon-bg.svg");
				position: absolute;
				width: 41px;
				height: 41px;
				top: -12px;
				left: 2px;
				z-index: -1;
			}
		}
	}
}

.shop {
	padding: 120px 0;
	&__wrapper {
		display: flex;
		// justify-content: space-between;
	}
	&-content {
		&__inner {
			display: flex;
			flex-wrap: wrap;
			column-gap: 27px;
			margin-bottom: 75px;
		}
		.products-top__item {
			margin-bottom: 35px;
		}
		&__item {
			.products-top__item-inner {
				margin-left: auto;
			}
		}
		&__list-item {
			display: flex;
			align-items: center;
			margin-bottom: 40px;
		}
		&__wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 365px;
			min-height: 495px;
			margin-right: 50px;
			background-color: #fefefe;
			border: 1px solid #f2f2f2;
		}
		&__info {
			max-width: 420px;
		}
		&__name,
		&__price {
			font-size: 30px;
			line-height: 45px;
			color: #333;
		}
		&__text {
			line-height: 30px;
			color: $title;
			margin: 30px 0;
		}
		&__item-buttons {
			display: flex;
		}
		&__item-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50px;
			height: 50px;
			margin-right: 10px;
			&:hover {
				background-color: #a3bac7;
				path {
					fill: #fff;
				}
			}
		}
	}
}
.filter {
	width: 275px;
	// margin-bottom: 40px;
	margin-right: 30px;
	&__title {
		display: inline-block;
		font-size: 18px;
		line-height: 20px;
		color: $title;
		@extend %dmsans-700;
		text-transform: uppercase;
		position: relative;
		padding-right: 55px;
		margin-bottom: 27px;
		&::after {
			content: "";
			position: absolute;
			width: 38px;
			height: 2px;
			background-color: $button;
			right: 0;
			top: 9px;
		}
	}
	&__item {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.filter-search {
	&__form {
		width: 270px;
		display: flex;
	}
	&__input {
		width: 220px;
		height: 40px;
		border: 1px solid #edf1f4;
		border-right: none;
		border-radius: 5px 0 0 5px;
		background-color: #fff;
		padding: 10px;
	}
	&__btn {
		width: 50px;
		height: 40px;
		border: none;
		background-color: #edf1f4;
		border-radius: 5px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		margin-left: -3px;
	}
}

.filter-category,
.filter-brand {
	&__label {
		display: flex;
		max-height: 43px;
		margin-bottom: 1px;
		cursor: pointer;
	}
	&__input {
		@extend %checkbox-hidden;
		&:checked + .filter-category__checkbox,
		&:checked + .filter-brand__checkbox {
			border-radius: 5px;
			background-color: #edf1f4;
		}
	}
	&__checkbox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 275px;
		line-height: 18px;
		padding: 15px 20px 15px 15px;
		color: $title;
	}
}

.filter-price {
	&__label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		line-height: 43px;
		color: $title;
		max-width: 270px;
	}
}

.irs--flat {
	height: 30px;
	margin-bottom: 30px;
}
.irs--flat .irs-line {
	max-width: 270px;
	top: 29px;
	height: 2px;
	background-color: #c2d2db;
}
.irs--flat .irs-bar {
	top: 28px;
	height: 3px;
	background-color: $button;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
	display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
	display: none;
}

.irs--flat .irs-handle {
	width: 15px;
	height: 15px;
	background-color: $button;
	&:hover {
		background-color: $button;
	}
}

.irs--flat .irs-handle i:first-child {
	display: none;
}

.filter-brand {
	&__num {
		color: #b3b3b3;
	}
	&__input {
		&:checked + .filter-brand__checkbox {
			.filter-brand__num {
				color: $title;
			}
		}
	}
}

.filter-resent {
	&__items {
		max-width: 190px;
	}
	&__item {
		display: flex;
		margin-bottom: 23px;
	}
	&__img-wrapper {
		width: 70px;
		height: 70px;
		padding: 2px;
		border: 2px solid #f2f2f2;
		text-align: center;
		margin-right: 20px;
	}
	&__img-wrapper--blog {
		width: 71px;
		height: 71px;
		margin-right: 20px;
	}
	&__img {
		margin: 0 auto;
	}
	&__title {
		font-size: 14px;
		line-height: 16px;
		color: #333;
	}
	&__title--blog {
		font-size: 14px;
		line-height: 20px;
		color: #333;
	}
	&__price {
		font-size: 15px;
		line-height: 18px;
		color: #333;
	}
}

.jq-ry-container {
	padding: 10px 0;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	&__list {
		display: flex;
	}
	&__prev,
	&__item {
		margin-right: 15px;
	}
	&__prev,
	&__next,
	&__item {
		line-height: 1;
		color: $title;
		padding: 16px 20px;
		border: 1px solid $button;
		&--active,
		&:hover {
			color: #fff;
			background-color: $button;
		}
	}
	&__item {
		max-width: 50px;
		max-height: 50px;
	}
	&__prev {
		display: none;
	}
}

.details {
	margin: 115px 0;
	&-top {
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__slide {
			display: flex;
			width: 550px;
			margin-right: 65px;
		}
		&-slide__small {
			width: 135px;
			margin-right: 25px;
		}
		&-slide__small-item {
			width: 135px;
			margin-bottom: 15px;
			img {
				width: 135px;
				height: 160px;
				object-fit: cover;
			}
		}
		&-slide__big {
			width: 385px;
		}
		&-slide__big-item {
			width: 385px;
			img {
				width: 385px;
				height: 530px;
				object-fit: cover;
			}
		}
		&__info {
			width: 545px;
		}
		&__form {
			margin-bottom: 55px;
		}
		&__btn {
			width: 210px;
			font-size: 15px;
			line-height: 20px;
			border: none;
			color: #fff;
			text-transform: uppercase;
			padding: 15px;
			background-color: $button;
			margin-left: 15px;
			border-radius: 5px;
		}
	}
	&-top__descr,
	&-bottom__text {
		line-height: 30px;
		color: $title;
		a {
			color: inherit;
		}
	}
	&-bottom {
		margin-top: 100px;
		&__buttons {
			text-align: center;
			margin-bottom: 35px;
		}
		&__btn {
			font-size: 18px;
			line-height: 20px;
			color: $title;
			@extend %rubik-500;
			border: none;
			width: 240px;
			padding: 15px;
			background-color: #edf1f4;
		}
		&__btn + .details-bottom__btn {
			margin-left: 15px;
		}
		&__btn--active,
		&__btn:hover {
			background-color: $button;
			color: #fff;
		}
		&__content-item {
			display: none;
			&.details-bottom__content-item--active {
				display: block;
			}
		}
	}
}

.related-products {
	&__title {
		text-align-last: left;
		margin-bottom: 40px;
	}
	&__inner {
		display: grid;
		grid-template-columns: repeat(4, 270px);
		column-gap: 30px;
		// justify-content: space-between;
		margin-bottom: 120px;
	}
}

.blog-page {
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 120px 0;
	}
	&__content {
		width: 830px;
		margin-right: 70px;
	}
	&__item {
		margin-bottom: 50px;
	}
	&__img-box {
		position: relative;
		margin-bottom: 40px;
	}
	&__img {
		max-width: 830px;
		max-height: 500;
		object-fit: cover;
	}
	&__item-info {
		width: 275px;
		background-color: $button;
		position: absolute;
		bottom: 0;
		padding: 27px 20px;
	}
	&__item-date,
	&__item-author {
		color: #fff;
	}
	&__item-date {
		&::before {
			background-image: url("../images/icons/calendar-white.svg");
		}
	}
	&__item-author {
		&::before {
			background-image: url("../images/icons/user-white.svg");
		}
	}
	&__item-date--aside {
		line-height: 30px;
		color: #9a9a9a;
		&::before {
			top: 0;
			background-image: url("../images/icons/calendar-grey.svg");
		}
	}
	&__title {
		font-size: 36px;
		line-height: 38px;
		color: #333;
		margin-bottom: 35px;
	}
	&__text {
		line-height: 30px;
		color: $title;
		margin-bottom: 35px;
	}
	&__pagination {
		padding-top: 30px;
		justify-content: start;
	}
}

.blog-one {
	&__item {
		margin-bottom: 50px;
		h4 {
			font-size: 36px;
			line-height: 38px;
			color: #333;
			margin-bottom: 35px;
		}
		h5 {
			font-size: 18px;
			line-height: 30px;
			color: $title;
			@extend %rubik-500;
			margin: 70px 0 20px 0;
		}
		h6 {
			font-size: 16px;
			line-height: 30px;
			color: $title;
			@extend %rubik-500;
			margin-bottom: 20px;
		}
		p {
			line-height: 30px;
			color: #565872;
			margin-bottom: 35px;
		}
		blockquote {
			line-height: 30px;
			color: $title;
			border-left: 6px solid $button;
			padding: 25px 100px 25px 30px;
			background-color: #edf1f4;
			margin-bottom: 45px;
			span {
				display: block;
				margin-top: 15px;
				padding-left: 45px;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					width: 20px;
					height: 3px;
					background-color: $button;
					top: 12px;
					left: 0;
				}
			}
		}
		&-img--left {
			float: left;
			margin: 0 30px 25px 0;
		}
		&-img--right {
			float: right;
			margin: 0 0 25px 30px;
		}
	}
	&-author {
		padding: 25px 0;
		border-top: 2px solid #ebebeb;
		border-bottom: 2px solid #ebebeb;
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__wrapper {
			display: flex;
			align-items: center;
		}
		&__img {
			margin-right: 30px;
		}
		&__name {
			font-size: 18px;
			line-height: 24px;
			color: #333;
			@extend %rubik-500;
			margin-bottom: 5px;
		}
		&__position {
			line-height: 30px;
			color: #666;
		}
	}
	&-links {
		&__item {
			display: flex;
			margin-bottom: 5px;
		}
		&__tags {
			min-width: 65px;
			line-height: 26px;
			color: #333;
		}
		&__share {
			line-height: 26px;
		}
		&__link {
			color: #999;
		}
		&__social {
			& + .blog-one-links__social {
				margin-left: 20px;
			}
			&:hover {
				path {
					fill: $button;
				}
			}
		}
	}
	&-comments {
		padding: 65px 0;
		&__wrapper {
			&:last-child {
				.blog-one-comments__content {
					border: none;
				}
			}
			.blog-one-comments__reply-comment {
				margin-left: 130px;
			}
		}
		&__inner {
			display: flex;
			padding-top: 30px;
		}
		&__img {
			width: 100px;
			height: 100px;
			margin-right: 30px;
		}
		&__content {
			padding-bottom: 30px;
			border-bottom: 1px solid #e0e0e0;
		}
		&__top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15px;
		}
		&__name {
			font-size: 16px;
			line-height: 26px;
			color: $default;
			@extend %rubik-700;
		}
		&__date {
			font-size: 14px;
			line-height: 26px;
			color: #9e9e9e;
		}
		&__text {
			line-height: 30px;
			color: #565872;
			margin-bottom: 20px;
		}
		&__reply {
			font-size: 14px;
			line-height: 20px;
			color: #516278;
			padding-right: 20px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				background-image: url("../images/icons/arrow-reply.svg");
				width: 15px;
				height: 16px;
				top: 2px;
				right: 0;
			}
		}
	}
	&__title {
		font-size: 24px;
		line-height: 36px;
		color: $default;
		@extend %rubik-700;
		margin-bottom: 15px;
	}
	&-feedback {
		&__title {
			padding-bottom: 40px;
		}
		&__input {
			border: none;
			width: 400px;
			height: 100%;
			font-size: 16px;
			line-height: 20px;
			color: #666;
			padding: 20px;
		}
		&__text {
			width: 100%;
			height: 100%;
			padding: 20px;
			border: none;
			resize: none;
		}
		&__input-box {
			display: inline-flex;
			align-items: center;
			width: 400px;
			height: 50px;
			border: 1px solid #e5e5e5;
			margin-bottom: 20px;
			position: relative;
			& + .blog-one-feedback__input-box {
				margin-left: 25px;
			}
		}
		&__comment-box {
			display: block;
			width: 830px;
			height: 120px;
			border: 1px solid #e5e5e5;
			margin-bottom: 40px;
			position: relative;
			resize: none;
		}
		&__input-box,
		&__comment-box,
		&__input,
		&__text {
			&:focus {
				outline: 1px solid $button;
				&::placeholder {
					color: #333;
				}
			}
		}
		&__input-box,
		&__comment-box {
			&::after {
				content: "";
				position: absolute;
				right: 20px;
			}
		}
		&--name {
			&::after {
				background-image: url("../images/icons/form-user.svg");
				top: 18px;
				width: 14px;
				height: 13px;
			}
		}
		&--email {
			&::after {
				background-image: url("../images/icons/form-email.svg");
				top: 18px;
				width: 18px;
				height: 12px;
			}
		}
		&--comment {
			&::after {
				background-image: url("../images/icons/form-comment.svg");
				top: 20px;
				width: 19px;
				height: 15px;
			}
		}
		&__btn {
			width: 200px;
			height: 50px;
			font-size: 14px;
			line-height: 21px;
			color: #fff;
			background-color: $button;
			text-transform: uppercase;
			border: none;
			cursor: pointer;
		}
	}
}

.contact {
	padding: 120px 0;
	&-caption {
		text-align: center;
		margin-bottom: 60px;
		&__subtitle {
			font-size: 16px;
			line-height: 20px;
			color: $button;
			@extend %poppins-700;
		}
		&__title {
			font-size: 35px;
			line-height: 40px;
			color: $default;
			@extend %dmsans-700;
		}
	}
	&-info {
		display: flex;
		align-items: center;
		margin-bottom: 120px;
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 370px;
			height: 380px;
			text-align: center;
			padding: 75px 50px;
			background-color: #fbfbfb;
			transition: all 0.5s;
			border: 2px solid #fbfbfb;
			& + .contact-info__item {
				margin-left: 30px;
			}
			&:hover {
				border: 2px solid $button;
				path {
					fill: #fff;
				}
				.contact-info__img::before {
					background-color: $button;
				}
			}
		}
		&__img {
			position: relative;
			margin-bottom: 60px;
			width: 80px;
			z-index: 0;
			&::before {
				content: "";
				position: absolute;
				width: 80px;
				height: 80px;
				background-color: #fff;
				border-radius: 20px;
				box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				z-index: -1;
			}
		}
		&__title {
			font-size: 20px;
			line-height: 26px;
			color: #222;
			@extend %dmsans-700;
			margin-bottom: 20px;
		}
		&__text {
			font-size: 16px;
			line-height: 30px;
			color: #565872;
		}
		&__link {
			color: inherit;
		}
	}
	&-form {
		&__inner {
			display: flex;
		}
		&__form {
			max-width: 620px;
			margin-right: 50px;
		}
		&__input-box {
			display: inline-block;
			width: 300px;
			height: 50px;
			margin-bottom: 25px;
			position: relative;
			& + .contact-form__input-box {
				margin-left: 15px;
			}
		}
		&__input {
			display: inline-flex;
			align-items: center;
		}
		&__input,
		&__text {
			width: 100%;
			height: 100%;
			border: none;
			background-color: #fafafa;
			line-height: 20px;
			color: #565872;
			padding: 15px 45px 15px 20px;
			text-transform: uppercase;
		}
		&__text-box {
			width: 620px;
			height: 175px;
			margin-bottom: 30px;
			position: relative;
		}
		&__text {
			resize: none;
		}
		&__input-box,
		&__text-box {
			&::after {
				content: "";
				position: absolute;
				right: 20px;
				top: 18px;
			}
		}
		&__input-box--name {
			&::after {
				background-image: url("../images/icons/form-user-dark.svg");
				width: 14px;
				height: 13px;
			}
		}
		&__input-box--email {
			&::after {
				background-image: url("../images/icons/form-email-dark.svg");
				width: 18px;
				height: 12px;
			}
		}
		&__input-box--message {
			&::after {
				background-image: url("../images/icons/form-comment-dark.svg");
				width: 18px;
				height: 15px;
				top: 15px;
			}
		}
		&__btn {
			border: none;
			width: 200px;
			background-color: $button;
			border-radius: 5px;
			font-size: 15px;
			line-height: 20px;
			color: #fff;
			@extend %poppins-600;
			text-transform: uppercase;
			padding: 15px;
			cursor: pointer;
		}
	}
	#map {
		width: 500px;
    height: 335px;
  }
}

.footer-top {
	display: flex;
	// justify-content: space-between;
	padding: 80px 0;
	border-bottom: 1px solid #dae4e9;
	&__logo {
		margin-bottom: 30px;
		display: block;
	}
	&__item {
		&:first-child {
			max-width: 195px;
			margin-right: 100px;
		}
		&:last-child {
			max-width: 270px;
		}
		&-nav {
			max-width: 125px;
			margin-right: 200px;
		}
	}
	&__list-item {
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 22px;
		color: #7b7b7b;
	}
	&__link,
	&__text {
		font-size: 14px;
		line-height: 22px;
		color: #7b7b7b;
		@extend %rubik-400;
	}
	&__title {
		font-size: 16px;
		line-height: 22px;
		color: #1f2044;
		text-transform: uppercase;
		@extend %dmsans-700;
		margin: 10px 0 25px 0;
	}
	&__text {
		margin-bottom: 35px;
	}
	&__form {
		@extend %dmsans-400;
		display: flex;
		&-email {
			border: none;
			font-size: 12px;
			line-height: 18px;
			color: #234969;
			max-width: 170px;
			padding: 15px;
			background-color: $accent-bg;
		}
		&-btn {
			border: none;
			background-color: $button;
			font-size: 14px;
			line-height: 21px;
			color: #fff;
			padding: 14px 15px;
			max-width: 100px;
		}
	}
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 0;
	&__copy,
	&__link {
		font-size: 14px;
		line-height: 21px;
		color: #7b7b7b;
		@extend %rubik-400;
	}
	&__link {
		position: relative;
		margin-right: 15px;
	}
	&__link + .footer-bottom__link {
		margin-left: 15px;
	}
	&__link:last-child {
		margin-right: 0;
	}
	&__link--line::after {
		content: "";
		position: absolute;
		width: 1px;
		height: 18px;
		background-color: #7b7b7b;
		top: 0;
		right: -19px;
	}
}

@import "media";
