@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "style";
@import "../module/_header/_header";
@import "../module/_blog/_blog";
@import "../module/_footer/_footer";

@media (max-width: 980px) {
  .terms {
    padding: 60px 0;
    &__types,
    &__colecting {
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 590px) {
  .terms {
    padding: 35px 0;
    &__types,
    &__colecting {
      margin-bottom: 35px;
    }
    &__title,
    &__text {
      margin-bottom: 20px;
    }
  }
}