<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Glee</title>
		<link rel="stylesheet" href="css/login.min.css" />
	</head>
	<body>

		{% include 'app/module/_header/_header.html' %}

		<main class="main">

			<section class="top">
				<h2 class="title top__title">Log in</h2>
				<div class="breadcrumbs">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a class="breadcrumbs__link" href="#">Home</a>
						</li>
						<li class="breadcrumbs__item">
							<a class="breadcrumbs__link" href="#">Log in</a>
						</li>
					</ul>
				</div>
			</section>

			<section class="login">
				<div class="container--small">
					<form class="form" action="#">
						<label class="form__label">
							Username or email address *
							<input class="form__input" type="text" required>
						</label>
						<label class="form__label">
							Password *
							<input class="form__input" type="password" required>
						</label>
						<button class="form__btn" type="submit">Login</button>
						<label class="form__label form__label--checkbox">
							<div class="form__label-inner">
							<input type="checkbox">
							Remember me
							</div>
							<a class="form__link" href="#">Lost your password?</a>
						</label>
						<label class="form__label form__register">
							<a class="form__link" href="#">Not registered? No problem</a>
							<a class="form__register-btn" href="#">Create an account</a>
						</label>
					</form>
				</div>
			</section>

			<section class="blog">
				<div class="blog__wrapper--background">
					<div class="container--small">
						<div class="partners">
							<div class="partners__inner">
								<ul class="partners__inner-list">
									<li class="partners__inner-item">
										<img
											class="partners__inner-img"
											src="images/partners/1.png"
											alt="partners image"
										/>
									</li>
									<li class="partners__inner-item">
										<img
											class="partners__inner-img"
											src="images/partners/2.png"
											alt="partners image"
										/>
									</li>
									<li class="partners__inner-item">
										<img
											class="partners__inner-img"
											src="images/partners/3.png"
											alt="partners image"
										/>
									</li>
									<li class="partners__inner-item">
										<img
											class="partners__inner-img"
											src="images/partners/4.png"
											alt="partners image"
										/>
									</li>
									<li class="partners__inner-item">
										<img
											class="partners__inner-img"
											src="images/partners/5.png"
											alt="partners image"
										/>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

		</main>

		{% include 'app/module/_footer/_footer.html' %}

		<script src="js/main.min.js"></script>
	</body>
</html>
