@import "vars";
@import "fonts";
@import "reset";
@import "libs";

.top {
	background-color: #edf1f4;
	padding: 30px 0;
	text-align: center;
	&__title {
		padding-bottom: 0;
		@extend %rubik-300;
		color: #222933;
	}
}

.breadcrumbs {
	display: flex;
	justify-content: center;
	&__list {
		display: flex;
	}
	&__item {
		padding-right: 20px;
		position: relative;
		&::after {
			content: "/";
			position: absolute;
			top: 1px;
			right: 8px;
			color: #8b8f94;
		}
		&:last-child {
			padding: 0;
			&::after {
				display: none;
			}
		}
	}
	&__link {
		font-size: 14px;
		line-height: 24px;
		color: #8b8f94;
		@extend %rubik-400;
	}
}